
  
  
  .dynamic-timer{ 
    font-stretch: ultra-condensed;
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin-top: 15%;
    
    }
    .timer-component{
      display: flex;
      justify-content: space-between;
      font-size: 20px;
     
      color: gray;
    }
    .timer-dynamic{
      margin-top: 20%;
     
      font-size: 70px;
      color: black;
    }
    .minute-component{
      margin-left: 4%;
    }
    .second-component{
      margin-left:  3%;
    }
    .hour-component{
      margin-left: 2%;
    }
    .buttonsTimer{
      display: flex;
      justify-content:space-between;
      padding-top: 5%;
    }
    .btnStart{
      width: 110px;
      height: 40px;
      font-size: 20px;
      margin-left: 40%;

    }
    .btnReset{
      width: 110px;
      height: 40px;
      font-size: 20px;
      margin-right: 40%;
    }

